@charset "utf-8";
@import url('reset.css');
@import url('common.css');


 
header .inner .hd_bottom {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .inner .hd_bottom h1 {
    height: 40px;
}
header .inner .hd_bottom h1 a img {
    height: 40px;
}
header .inner .hd_bottom .pc {
    height: 100%;
    /* width: calc(100% - 200px); */
}
header .inner .hd_bottom .pc .gnb {
    height: 100%;
}
header .inner .hd_bottom .pc .gnb .depth01 {
    height: 100%;
    display: inline-block;
    position: relative;
    padding: 0 30px;
    z-index: 9;
}
header .inner .hd_bottom .pc .gnb .depth01 > a {
    line-height: 100px;
}
header  .pc .gnb .depth01 .depth02 {
    position: absolute;
    top: 100px;
    left:50%;
    transform: translateX(-50%);
    width: 150px;
    background-color: #fff;
    text-align: center;

    display: none;
}
header .pc .gnb .depth01:hover .depth02 {
    display: block;
}
header .pc .gnb .depth01 .depth02 li {
    padding: 10px;
    line-height: 1.5;
}

/* .main_visual */ 
.main_visual {
    height: 100vh;
    position: relative; 
    font-family: 'KCCChassam';
}
.main_visual div {
    max-width: 1600px;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main_visual div h2 {
    font-size: 50px;
    margin-bottom: 10px;
}
.main_visual div p {
    font-size: 25px;
    margin-bottom: 10px;
} 
.main_visual div a {
    width: 150px;
    height: 45px;
    border: 1px solid #333;
    border-radius: 40px;
    text-align: center;
    line-height: 45px;
    display: block;
    margin-top: 100px;
}
.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .best */
.best {
    max-width: 1600px;
    width: 95%;
    margin: 150px auto;
    position: relative;
}
 
.best > a {
    display: block;
    width: 140px;
    height: 45px;
    border: 1px solid #333;
    border-radius: 40px;
    text-align: center;
    line-height: 45px;
    position: absolute;
    right: 0;
    top: 0;
}
.best h3 {
    font-size: 50px;
    margin: 0 0 40px;
    padding-top: 50px;
}
.best .best_menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.best .best_menu li {
    margin-left: 30px;
}
.best .best_menu li:first-child {
    color: #bb181d;
}
.best .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.best .list .item {
    width: calc(100% / 4 - 10px);
}
.best .list .item figure {
    width: 100%;
    height: 420px;
}
.best .list .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.best .list .item .text h4 {
    font-size: 20px;
    margin: 20px 0 30px;
}
.best .list .item .text .price {
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.best .list .item .text .price p {
    color: #838383;
    text-decoration: line-through;
}
.best .list .item .text .price span {
    color: #bb181d;
    font-weight: bold;
    margin-right: 10px;
}

.brand {
    padding: 150px 0;
    background-color: #fdf9ef;
}
.brand .inner {
    max-width: 1600px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.brand .inner .title {
    width: 500px;
}
.brand .inner .title h3 {
    font-size: 50px;
}
.brand .inner .title p {
    font-size: 30px;
    margin: 50px 0 100px;
}
.brand .inner .title a {
    width: 140px;
    height: 45px;
    border: 1px solid #333;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center; 

}

.brand .inner .list {
    width: calc(100% - 500px);
    display: flex;
    justify-content: space-between;
}
.brand .inner .list .item {
    width: calc(100% / 2 - 10px);
    height: 395px;
    position: relative;
}
.brand .inner .list .item figure {
    width: 100%;
    height: 100%;
}
.brand .inner .list .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.brand .inner .list .item div {
    position: absolute;
    left: 50px;
    bottom: 50px;
}
.brand .inner .list .item div h4 {
    font-size: 30px;
    margin-bottom: 20px;
} 
footer {
    background-color: #bb181d;
    color: #fff;
    padding: 20px;
    text-align: center;
}


@media all and (max-width:1024px) {
   
    .best {
        margin: 100px auto;
    }
    .best .list .item figure {
        height: 250px;
    }
    .best .list .item .text h4 {
        height: 50px;
    }
    .brand .inner .title {
        width: 250px;
    }
    .brand .inner .list {
        width: calc(100% - 250px);
    }
    .brand {
        margin: 100px 0;
    }
    .brand .inner {
        display: block;
    }
    .brand .inner .title {
        width: 100%;
        margin-bottom: 30px; 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .brand .inner .title h3 {
        font-size: 30px;
    }
    .brand .inner .title p {
        margin: 25px 0 0;
        font-size: 16px;
    }
    .brand .inner .title p br {
        display: none;
    }
 
    .brand .inner .list {
        width: 100%;
    }
    .brand .inner .list .item {
        width: calc(100% / 2 - 5px);
        height: 50vw;
    }
    .brand .inner .list .item div {
        left: 20px;
        bottom: 20px;
    }
    .brand .inner .list .item div h4 {
        font-size: 22px;
        margin-bottom: 10px;
    }
}/* 1024px 이하 */

@media all and (max-width:767px) {
    header .inner .hd_top {
        height: 30px;
        font-size: 13px;
    }
    header .inner .hd_bottom {
        height: 50px;
    }
    header .inner .hd_bottom h1 {
        height: 25px;
    }
    header .inner .hd_bottom h1 a img {
        height: 25px;
    }

    .main_visual div {
        text-align: center;
    }
    .main_visual div h2 {
        font-size: 40px;
    }
    .main_visual div p {
        font-size: 22px;
        margin-bottom: 0;
    }
    .main_visual div a {
        margin: 50px auto;
        background-color: #fff;
    }

    .best {
        margin: 60px auto;
    }
    .best > a {
        width: 100px;
        height: 35px;
        line-height: 35px;
        font-size: 14px;
    }
    .best h3 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .best .best_menu {
        justify-content: flex-start;
    }
    .best .best_menu li {
        margin-left: 0;
        margin-right: 20px;
    }
    
    .best .list .item {
        width: calc(100% / 2 - 5px);
    }
     
    .best .list .item:nth-child(2) ~ .item {
        display: none;
    }
    .best .list .item figure {
        height: 50vw;
       
    }
}/* 767px 이하 */

@media all and (max-width:414px) {
    .main_visual div h2 {font-size: 30px;}
    .best h3 {font-size: 30px;}
    .best .best_menu li {font-size: 14px;}
    .best .list .item .text h4 {
        font-size: 16px;
        height: auto;
        margin: 10px 0 20px;
    }
    .best .list .item .text .price {font-size: 16px;}

    .brand {
        margin: 50px 0;
    }
    .brand .inner .list {
        /* flex-wrap: wrap; */
        display: block;
    }
    .brand .inner .list .item {
        width: 100%;
        margin-bottom: 15px;
    }
    .brand .inner .list .item div h4 {
        font-size: 18px;
    }

}/* 414px 이하 */
 
 
 

