@charset "utf-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} 
@font-face {
    font-family: 'KCCChassam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    color: #333;
    font-family: 'Pretendard-Regular';
    overflow-x: hidden;
    /* 가로 스크롤바 없애기 */
}

.mobile {
    display: none;
}
/* header */
header .inner {
    max-width: 1600px;
    width: 95%;
    margin: 0 auto;
}
 
 
header .inner .hd_bottom {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .inner .hd_bottom h1 {
    height: 40px;
}
header .inner .hd_bottom h1 a img {
    height: 40px;
}
header .inner .hd_bottom .pc {
    height: 100%;
    /* width: calc(100% - 200px); */
}
header .inner .hd_bottom .pc .gnb {
    height: 100%;
}
header .inner .hd_bottom .pc .gnb .depth01 {
    height: 100%;
    display: inline-block;
    position: relative;
    padding: 0 30px;
    z-index: 9;
}
header .inner .hd_bottom .pc .gnb .depth01 > a {
    line-height: 100px;
}
header  .pc .gnb .depth01 .depth02 {
    position: absolute;
    top: 100px;
    left:50%;
    transform: translateX(-50%);
    width: 150px;
    background-color: #fff;
    text-align: center;

    display: none;
}
header .pc .gnb .depth01:hover .depth02 {
    display: block;
}
header .pc .gnb .depth01 .depth02 li {
    padding: 10px;
    line-height: 1.5;
}

/* .main_visual */ 
.main_visual {
    height: 100vh;
    position: relative; 
    font-family: 'KCCChassam';
}
.main_visual div {
    max-width: 1600px;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main_visual div h2 {
    font-size: 50px;
    margin-bottom: 10px;
}
.main_visual div p {
    font-size: 25px;
    margin-bottom: 10px;
}
.main_visual div span {}
.main_visual div a {
    width: 150px;
    height: 45px;
    border: 1px solid #333;
    border-radius: 40px;
    text-align: center;
    line-height: 45px;
    display: block;
    margin-top: 100px;
}
.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .best */
.best {
    max-width: 1600px;
    width: 95%;
    margin: 150px auto;
    position: relative;
}
 
.best > a {
    display: block;
    width: 140px;
    height: 45px;
    border: 1px solid #333;
    border-radius: 40px;
    text-align: center;
    line-height: 45px;
    position: absolute;
    right: 0;
    top: 0;
}
.best h3 {
    font-size: 50px;
    margin: 0 0 40px;
    padding-top: 50px;
}
.best .best_menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.best .best_menu li {
    margin-left: 30px;
}
.best .best_menu li:first-child {
    color: #bb181d;
}
.best .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.best .list .item {
    width: calc(100% / 4 - 10px);
}
.best .list .item figure {
    width: 100%;
    height: 420px;
}
.best .list .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.best .list .item .text h4 {
    font-size: 20px;
    margin: 20px 0 30px;
}
.best .list .item .text .price {
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.best .list .item .text .price p {
    color: #838383;
    text-decoration: line-through;
}
.best .list .item .text .price span {
    color: #bb181d;
    font-weight: bold;
    margin-right: 10px;
}
/* header , .main_visual, 
.best에 대한 미디어쿼리 */
@media all and (max-width:1024px) {
    header .pc {display: none;}
    header div.mobile {
        display: flex;
        align-items: center;
        font-size: 40px;
        color: #bb181d;

    }
    header i.mobile span {
        position: absolute;
        left: -999999px;
    }

    .best {
        margin: 100px auto;
    }
    .best .list .item figure {
        height: 250px;
    }
    .best .list .item .text h4 {
        height: 50px;
    }


}/* 1024px 이하 */

@media all and (max-width:767px) {
    header .inner .hd_top {
        height: 30px;
        font-size: 13px;
    }
    header .inner .hd_bottom {
        height: 50px;
    }
    header .inner .hd_bottom h1 {
        height: 25px;
    }
    header .inner .hd_bottom h1 a img {
        height: 25px;
    }

    .main_visual div {
        text-align: center;
    }
    .main_visual div h2 {
        font-size: 40px;
    }
    .main_visual div p {
        font-size: 22px;
        margin-bottom: 0;
    }
    .main_visual div a {
        margin: 50px auto;
        background-color: #fff;
    }

    .best {
        margin: 60px auto;
    }
    .best > a {
        width: 100px;
        height: 35px;
        line-height: 35px;
        font-size: 14px;
    }
    .best h3 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .best .best_menu {
        justify-content: flex-start;
    }
    .best .best_menu li {
        margin-left: 0;
        margin-right: 20px;
    }
    /* 아이템한테 width값을 
    2나누고 5뺀값 */
    .best .list .item {
        width: calc(100% / 2 - 5px);
    }
    /* + 바로뒤에 오는 아이템만!(형제선택자)
       ~ 뒤에 오는 아이템들(형제선택자) */
    .best .list .item:nth-child(2) ~ .item {
        display: none;
    }
    .best .list .item figure {
        height: 50vw;
        /* vw -> 브라우저 너비 반응
        vh -> 브라우저 높이 반응 */
    }
}/* 767px 이하 */

@media all and (max-width:414px) {
    .main_visual div h2 {font-size: 30px;}
    .best h3 {font-size: 30px;}
    .best .best_menu li {font-size: 14px;}
    .best .list .item .text h4 {
        font-size: 16px;
        height: auto;
        margin: 10px 0 20px;
    }
    .best .list .item .text .price {font-size: 16px;}
}/* 414px 이하 */


/* .slide_text 텍스트 애니메이션 */
.slide_text {
    background-color: #bb181d;
    color: #fff;
    padding: 20px 0;
    overflow-x: hidden;
}
.slide_text ul {
    
    white-space: nowrap;
    /* 텍스트 한줄로 만들어줌 */
    /* 애니메이션 : 이름 시간 횟수 속도 */
    animation: slidetext 60s infinite linear;
}
@keyframes slidetext {
    /* 시작 */
    0% {
        transform: translateX(0);
    }
    /* 끝 */
    100% {
        transform: translateX(-100%);
    }
}
.slide_text ul li {
    display: inline-block;
}

/* .brand pc 부터 시작 */
.brand {
    padding: 150px 0;
    background-color: #fdf9ef;
}
.brand .inner {
    max-width: 1600px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.brand .inner .title {
    width: 500px;
}
.brand .inner .title h3 {
    font-size: 50px;
}
.brand .inner .title p {
    font-size: 30px;
    margin: 50px 0 100px;
}
.brand .inner .title a {
    width: 140px;
    height: 45px;
    border: 1px solid #333;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
/*     text-align: center;
    line-height: 45px; */
    /* 가로: 140
    세로: 45
    테두리: 두께 스타일 컬러값
    모서리곡선 : 
    텍스트 가운데 정렬, 수직 가운데 정렬 */

}

.brand .inner .list {
    width: calc(100% - 500px);
    display: flex;
    justify-content: space-between;
}
.brand .inner .list .item {
    width: calc(100% / 2 - 10px);
    height: 395px;
    position: relative;
}
.brand .inner .list .item figure {
    width: 100%;
    height: 100%;
}
.brand .inner .list .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.brand .inner .list .item div {
    position: absolute;
    left: 50px;
    bottom: 50px;
}
.brand .inner .list .item div h4 {
    font-size: 30px;
    margin-bottom: 20px;
} 
@media all and (max-width:1280px) {
    .brand .inner .title {
        width: 250px;
    }
    .brand .inner .list {
        width: calc(100% - 250px);
    }
}

@media all and (max-width:1024px) {
    .brand {
        margin: 100px 0;
    }
    .brand .inner {
        display: block;
    }
    .brand .inner .title {
        width: 100%;
        margin-bottom: 30px; 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .brand .inner .title h3 {
        font-size: 30px;
    }
    .brand .inner .title p {
        margin: 25px 0 0;
        font-size: 16px;
    }
    .brand .inner .title p br {
        display: none;
    }
 
    .brand .inner .list {
        width: 100%;
    }
    .brand .inner .list .item {
        width: calc(100% / 2 - 5px);
        height: 50vw;
    }
    .brand .inner .list .item div {
        left: 20px;
        bottom: 20px;
    }
    .brand .inner .list .item div h4 {
        font-size: 22px;
        margin-bottom: 10px;
    }
}

@media all and (max-width:414px) {
    .brand {
        margin: 50px 0;
    }
    .brand .inner .list {
        /* flex-wrap: wrap; */
        display: block;
    }
    .brand .inner .list .item {
        width: 100%;
        margin-bottom: 15px;
    }
    .brand .inner .list .item div h4 {
        font-size: 18px;
    }
}
/* 414px 이하일 때 */
/* .brand 위 아래 여백 50px
.brand .item들의 
width값 100%로
하여 세로로 나열

아이템 아래쪽으로 여백 15px만큼 띄우기 */

footer {
    background-color: #bb181d;
    color: #fff;
    padding: 20px;
    text-align: center;
}
